@import "../../main.styl"

.top-menu
	ul
		display table
		margin-left auto
		margin-right auto
		padding 0
		background color-green
		li
			display table-cell
			color color-white
			padding 1em
			cursor pointer