@import "../../main.styl"

.footer
	background-color color-dark-grey
	text-align center
	padding 50px
	h2
		color color-medium-grey
	.contact
		p
			line-height 1
			margin 5px
			color color-white
	.copy
		p
			line-height 1
			margin 5px
			font-size font-copy