@import "../../main.styl"

.header
	display table
	width 100%
	height 200px
	color orange
	.logo
	.description
	.contact
		display table-cell
		vertical-align middle
		text-align center
	.logo
		width 25%
		height 223px
		background-image url('./img/logo-ingeoter.jpg') 
		min-width 353px
		cursor pointer
		
	.description
		width 50%
		p
			text-align left
			line-height 1em
			font-size 45px
			color #333333
			font-weight bold
	.contact
		width 25%
		p
			margin 5px
