@import './fonts.styl'
@import './palette.styl'

body
	margin 0

div#content
	margin 56px
	position relative
	
*
	font-family courier
	color color-grey
	
	h2
		font-size font-header-medium
		color color-dark-grey
	h3
		font-size font-header-small
	p
		font-size font-regular
		
.page
	position absolute
	background color-white
	top 0
	bottom 0
	right 0
	left 0